body {
	background-image: url("./images/gravel/gravel.png ");
} 

.cardTop {
        background-color: #20639B;
        font-family: 'Raleway', sans-serif;
        color: white;
        font-weight: bold;
        font-size: 20px ;
        text-align: left;
        border-bottom: 1px;
        border-bottom-color: white;
}

#title-header {
        font-family: 'Faster One', cursive;
}

#welcome {
        text-shadow: -1 black;
       /* background-image: url("./images/tireTracks.png ");*/ 
}