body {
	background-image: url("./images/gravel/gravel.png ");
} 

.cardTop {
        background-color: rgb(167, 218, 188);
        font-weight: bold;
        text-align: center;
} 

#map {
        height: 400px;
        width:auto;
        overflow: visible;
}